{% extends 'base.html.twig' %}

{% block title %}
	Profile/StudyOn
{% endblock %}

{% block body %}
	<h1 class="username">{{ user.username }}</h1>
	<h3 style="display: flex">Баланс:<div class="balance">{{ user.balance }}</div>Р</h3>
	<ol class="list-group list-group-numbered roles">
		{% for role in user.roles %}
			<li class="list-group-item role">
				{{ role }}
			</li>
		{% endfor %}
	</ol>
	<h3 style="display: flex">Транзакции: </h3>
	<ol class="list-group list-group-numbered roles">
		{% for transaction in transactions %}
			<li class="list-group-item role">
				{{ transaction.type }}
				{{ transaction.amount }}Р
			</li>
		{% endfor %}
	</ol>
{% endblock %}
