{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}/StudyOn{% endblock %}

{% block body %}
    <h1>{{ course.name }}</td>
    {% if course.description %}
        <h3>{{ course.description }}</h3>
    {% endif %}
    <ol>
    {% for lesson in course.lessons|sort((a, b) => a.serialNumber <=> b.serialNumber) %}
        <li>
            <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">
                <div>{{ lesson.name }}</div>
            </a>
        </li>
    {% else %}
        <div>
            <div colspan="5">Нет записей</div>
        </div>
    {% endfor %}
    </ol>
    <div>
        <a href="{{ path('app_course_index') }}">Список курсов</a>

        <a href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>

        <a href="{{ path('app_lesson_new', {'id': course.id}) }}">Добавить урок</a>

        {{ include('course/_delete_form.html.twig') }}
    </div>
{% endblock %}
